.label_text{

	-fx-font-size: 16px;
    -fx-font-weight: bolder;
    -fx-text-fill: darkslategray;
	-fx-font-family: "KaiTi";
}
.textfield{


}
#choose_icon_pane{



}
.return_login{
	
    	-fx-cursor: hand;


    	-fx-background-position: center center;
    	-fx-background-repeat: no-repeat;
    	-fx-background-radius: 20px;
    	-fx-background-color: rgba(253,245,230,0.5);



}
.confirm_register{
	
    	-fx-cursor: hand;


    	-fx-background-position: center center;
    	-fx-background-repeat: no-repeat;
    	-fx-background-radius: 20px;
    	-fx-background-color: rgba(253,245,230,0.5);


}